/* These are color variable used through out the css file.   */
:root {
    --lightBlue: #cde5fa;
    --lightOrange: #faddcd;
    --white: #fff;
    --slateGray: #708090; 
    --darkBlue: #345ab3;
}

* {
    box-sizing: border-box;
}
  
html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }


body {
    background-color: var(--white);
}

h3 {
    font-size: 3.5rem;
}

p {
    margin-bottom: 1rem;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--lightBlue);
    color: var(--slateGray);
    width: 100%;
    height: 10rem;
}

 
header nav h1 {
    font-size: 3.5rem;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* This takes away any decoration from the navbar links  */
nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--slateGray);
}

/* This applies an underline to the text when a user hovers over the navbar links */
nav a:hover {
    text-decoration: underline;
    color: var(--darkBlue);
}

/* This sets the height of the banner image */
.banner-img {
    width: 100%;
}

/* This centers the images on the web page */
.site-images {
  position: relative;
  text-align: center;
  color: white;
}

/* This places text in the bottom right of the banner image */
.bottom-right {
  position: absolute;
  bottom: 12px;
  right: 0px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
  width: 21.5%;
}

/* This places text in the bottom right of the #1 work image */
.bottom-right-1 {
  position: absolute;
  bottom: 27px;
  right: 81px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
}

/* This places text in the bottom right of the #2 work image */
.bottom-right-2 {
  position: absolute;
  bottom: 26px;
  right: 54px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
}

/* This places text in the bottom right of the #3 work image */
.bottom-right-3 {
  position: absolute;
  bottom: 26px;
  right: 51px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
}

/* This places text in the bottom right of the #4 work image */
.bottom-right-4 {
  position: absolute;
  bottom: 26px;
  right: 54px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
}

/* This places text in the bottom right of the #5 work image */
.bottom-right-5 {
  position: absolute;
  bottom: 26px;
  right: 51px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--lightBlue);
  color: var(--slateGray);
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  width: 80vw;
}

/* This creates a row of content */
.row {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--slateGray);
}

/* This places the 'About Me', 'Work', & 'Contact' to the left side and creats the divding line between the text
on the left and the paragraph, images and contact links  */
.left-column {
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--slateGray);
  display: flex;
  justify-content: flex-end;
  border-right: 5px solid black;
  width: 30%
}

.content {
  margin-left: 1rem;
  width: 60%;
  padding: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--slateGray);
  text-align: left;
}

.main .container .row .content img {
  width: 94%;
}

.contact-me {
  padding-top: 7px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

/* This takes away any decoration from the contatc links  */
address a {
  padding: 10px;
  text-decoration: none;
  color: var(--slateGray);
}

/* This applies an underline to the text when a user hovers over the contact links */
address a:hover {
  text-decoration: underline;
  color: var(--darkBlue);
}

/* When the media is resized below 660px the nav bar no longer displays */  
@media screen and (max-width: 660px) {
    nav {
      display: none;
    }
  }


